# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
Media/CAD/Animation/strip_big.bmp
Media/CAD/Animation/strip.bmp
Media/CAD/Animation/strip_zoom.bmp
Media/CAD/Animation/rendersettings.txt
